* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: rgb(65, 65, 65);
}

.scoreBoard {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;

  width: 1280;
  height: fit-content;

  padding: 20px 40px;

  background-color: #555555;
  color: white;
}
